<h1>Program Index</h1>
<p>These are all the programs you have to chose from!</p>

<div class="blocks blocks_3up">
  <% @programs.each do |program| %>
    <div>
      <div class="imageWrapper">
        <% if !program.default_image.blank? %>
          <%= image_tag program.default_image, alt: program.title %>
        <% else %>
          <%= image_tag program.placeholder_image, alt: program.title %>
        <% end %>
      </div>
      <div class="hdg hdg_2"><%= program.title %></div>
      <div>
        <%= link_to "Details", program_path(program), class: "btn" %>
        <%= link_to "Watch", '#', class: "btn" %>
      </div>
    </div>
  <% end %>
</div>