<% part_marker.watch_marker_episodes.joins(:episode).order("episodes.sequence_index asc").each do |episode_marker| %>
  <% @episode = Episode.find(episode_marker.episode_id) %>
  

  <div class="marker-ep">
    <%= link_to @episode.sequence_index, toggle_completed_watch_marker_episode_path(episode_marker), class: "marker-ep-trigger", remote: true %>
    <div class="marker-ep-status marker-ep-status_<%= ((episode_marker.elapsed.to_f / @episode.time) * 100).round %>of100"></div>
  </div>
  
  <%= form_for episode_marker do |f| %>
    <%= f.text_field :elapsed, class: "js-echo_#{episode_marker.id}", value: format_as_timecode(episode_marker.elapsed) %>
    <%= f.submit "Save", class: "js-echo-submit_#{episode_marker.id}" %>
  <% end %>
  <div><span class="js-enter_<%= episode_marker.id %>"><%= format_as_timecode(episode_marker.elapsed) %></span> / <%= format_as_timecode(@episode.time) %></div>

<script>
  /*$(".js-enter_<%= episode_marker.id %>").val($(".js-enter_<%= episode_marker.id %>").html());
  console.log($(".js-enter_<%= episode_marker.id %>").val());
  $(".js-enter_<%= episode_marker.id %>").on("change", function() {
    console.log($(this).val());
    $(".js-echo_<%= episode_marker.id %>").val($(this).html());
  });*/
  //This script is not currently working -- putting this feature on hold
</script>

<% end %>


