<% part_marker.episode_markers.joins(:episode).order("episodes.sequence_index asc").each do |episode_marker| %>
  <% @episode = Episode.find(episode_marker.episode_id) %>
  <div class="index-item-part">
    <div class="inline-block">
      <span><%= episode_marker.completed %></span>
    </div>
    <div class="inline-block">  
      <div class="marker">
        <span class="marker-index"><%= @episode.sequence_index %></span>
        <%= link_to @episode.sequence_index, toggle_completed_episode_marker_path(episode_marker), class: "marker-trigger", remote: true %>
        <div class="marker-status marker-status_episode marker-status_<%= ((episode_marker.elapsed.to_f / @episode.time) * 100).round %>of100">
          <span class="marker-index"><%= @episode.sequence_index %></span>
        </div>
      </div>
    </div>
    <div class="inline-block">
      <%= form_for episode_marker, remote: true do |f| %>
        <%= f.text_field :elapsed, id: "js-echo_#{episode_marker.id}", class: "js-echo", value: format_as_timecode(episode_marker.elapsed) %>
        <span id="js-enter_<%= episode_marker.id %>" class="js-enter" contentEditable="true"><%= format_as_timecode(episode_marker.elapsed) %></span> / <%= format_as_timecode(@episode.time) %>
        <%= f.submit "Save", id: "js-echo-submit_#{episode_marker.id}", class: "js-echo-submit btn" %>
      <% end %>
    </div>
  </div>

<script>
  /*$(".js-enter_<%= episode_marker.id %>").val($(".js-enter_<%= episode_marker.id %>").html());
  console.log($(".js-enter_<%= episode_marker.id %>").val());
  $(".js-enter_<%= episode_marker.id %>").on("change", function() {
    console.log($(this).val());
    $(".js-echo_<%= episode_marker.id %>").val($(this).html());
  });*/
  //This script is not currently working -- putting this feature on hold
</script>

<% end %>


