<h1><%= @user.name %></h1>
<p>These are the shows that <%= @user.name %> is watching.</p>
<%= link_to "Back to User Index", users_path, class: "btn" %>
<ul class="index">
  <% @user.program_markers.each do |program_marker| %>
    <li class="js-accordion index-item">
      <% @program = Program.find(program_marker.program_id) %>
      <div class="index-item-title">
        <span class="js-trigger"><%= @program.title %> (<%= format_as_timecode(time_elapsed_in_program(program_marker).to_f) %> / <%= format_as_timecode(total_time_in_program(@program)) %>)</span>
        <div class="index-item-controls">
          <div class="marker js-trigger">
            <div class="marker-status marker-status_program marker-status_<%= ((time_elapsed_in_program(program_marker).to_f / total_time_in_program(@program)) * 100).round %>of100"></div>
          </div>
        </div>
      </div>
      <div class="js-panel">
        <ul class="index-item-part">
          <% program_marker.part_markers.each do |part_marker| %>
            <li class="index-item">
              <% @part = Part.find(part_marker.part_id) %>
              <div id="ajax-part-marker-<%= part_marker.id %>" class="index-item-title">
                <%= render ('users/part_marker'), part_marker: part_marker %>
              </div>
              <ul>
                <li id="ajax-part-episodes-<%= part_marker.id %>" >
                  <%= render ('users/episode_markers'), part_marker: part_marker %>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>

