<h1><%= @user.name %></h1>
<p>These are the shows that <%= @user.name %> is watching.</p>
<%= link_to "Back to User Index", users_path, class: "btn" %>
<ul class="index">
  <% @user.watch_markers.each do |marker| %>
    <li class="js-accordion index-item">
      <% @program = Program.find(marker.program_id) %>
      <span class="js-trigger index-item-title"><%= @program.title %></span>
      <div class="index-item-controls">
        <div class="marker-ep">
          <%= link_to @program.title, '#', class: "marker-ep-trigger" %>
          <div class="marker-ep-status marker-ep-status_50of100"></div>
        </div>
      </div>
      <div><%= marker.notes %></div>
      <ul class="">
        <% marker.watch_marker_parts.each do |part_marker| %>
          <li class="index-item-part">
            <% @part = Part.find(part_marker.part_id) %>
            <%= "#{@part.title} (#{pluralize(@part.episodes.count, 'episode')})" %>
            <ul>
              <li id="ajax-part-marker-<%= part_marker.id %>" class="marker">
                <%= render ('users/episodes'), part_marker: part_marker %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  var accordion = new Accordion();
</script>

